#error{
    color: red;
    padding-left: 3.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;

}

#formulario{
    padding-top: 3rem;
    padding-left: 2.5rem;
}

